<div class="container-fluid mt-5 mx-5 mb-5">
        <div class="container-fluid mt-5 mx-5 mb-5">

             
       
<div>

                <div class="col-xl-11 mt-5 mx-8 mb-5">
                    <h2> Current Trainings</h2>
       
            <table class="table mt-2">
                <tr>
                    <th class="ml-5">TECHNOLOGY</th>
                    <th class="ml-5">TRAINEE NAME </th>
                    <th class="ml-5">CONTACT</th>
                    <th class="ml-5">EMAIL</th>
                   
                    <th class="ml-5">Current Status</th>
                   

                </tr>
                <tr *ngFor="let user of trainees">
                    <td class="ml-5">{{user.techId.skillName}}</td>
                    <td class="ml-5">{{user.traineeId.userID}}</td>
                    <td class="ml-5">{{user.traineeId.contactNo}}</td>
                    <td class="ml-5">{{user.traineeId.email}}</td>
                    <td class="ml-5">
                   <div  *ngIf="user.proposalStatus=='PENDING'">
                       <div>
                        <span class="badge badge-secondary">Approval needed</span><br>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="badge-success" (click)="accept(user.id)">Accept</button>
                    
                    <button type="submit" class="badge-danger"
                            (click)="decline(user.id)">Decline</button>
                        </div>        
                    </div>    
                    
                    <div  *ngIf="user.proposalStatus=='APPROVED' || user.proposalStatus=='APPROVEDPAID'">
                            <div>
                                    <span class="badge badge-info">Inprogress</span><br>
                                </div>
                                <div class="text-right">
                            <button type="submit" class="badge-success"  (click)="completed(user.id)">Completed</button>
                        </div>
                           
                            </div>  

                        
                
                        </td>
                </tr>
            </table>
        </div>
   
</div>
</div>
</div>