<div>
  <nav class="navbar navbar-expand-sm navbar-dark text-light navbar_top">
    <h2>
      <i class="material-icons md-36">line_weight</i> Mentor
    </h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse"	data-target="#navbarSupportedContent1">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <ul class="navbar-nav  ml-auto mx-2">
        <li class="nav-item active mx-1">
                  <a class="nav-link" *ngIf="!this.authService.isMentor" routerLink="search/">Home</a>
              </li>
              <li class="nav-item active mx-1">
                  <a class="nav-link" *ngIf="this.authService.isMentor" routerLink="mentorHome/">Home</a>
              </li>
              <li class="nav-item active mx-1" *ngIf="!loggedIn()">
                  <a class="nav-link" routerLink="mentorSignup/">Register as Mentor</a>
              </li> 
               <li class="nav-item active mx-1" *ngIf="!loggedIn() ">
                <a class="nav-link" routerLink="traineeSignup/">Register as Trainee</a>
            </li> 
            <li class="nav-item active mx-1" *ngIf="loggedIn() && this.authService.isTrainee">
                <a class="nav-link" routerLink="training/">Current Training</a>
            </li>
            <li class="nav-item active mx-1" *ngIf="loggedIn() && this.authService.isTrainee">
                <a class="nav-link" routerLink="trainingCompleted/">Completed Training</a>
            </li>
             
        <li class="nav-item active mx-1" *ngIf="loggedIn() ">
                  <i class="material-icons other_icon">person </i> {{this.authService.loggedInUser}}
              </li>
        <li class="nav-item active mx-1" *ngIf="loggedIn()" (click)="this.authService.logout()">
                  <a class="nav-link" routerLink="search/">Logout</a>
              </li>
        <li class="nav-item active mx-1" *ngIf="!loggedIn()">
                  <a class="nav-link" routerLink="login/">Login</a>
              </li>
        
                 
      </ul>   
    </div>
  </nav>
  <router-outlet></router-outlet>
  
  
  
  <nav class="navbar navbar-expand-sm navbar-dark text-light navbar_bottom ">
      <h5>Copyright 2019</h5>
  </nav>
  </div>
