.search-bar {
	background-image:
		url("https://i.pinimg.com/originals/f0/73/91/f07391199ff90c1165cddf3c9a18f30f.jpg");
}
.button-color{
	background-color: rgb(171, 94, 131);
	color: rgb(171, 94, 131); ;
}
.bad {
	background-color: rgb(18, 203, 216);
	vertical-align: super;
}



.material-icons.md-36 {
	font-size: 35px;
	line-height: 1.5;
	vertical-align: middle;
}


.material-icons.other_icon {
	line-height: 1.75;
	vertical-align: middle;
}

.navbar_top {
	background-color: #fe5711;
}

.navbar_bottom {
	background-color:  #fe5711;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.badge-primary.delivery_badge {
	vertical-align: super;
}
