<div class="container-fluid mt-5 mx-5 mb-5">
<div class="mb-5 mx-auto my-10 mt-10">
        <div class="row">
            <div class="col-6  my-10">
    <div class="card-deck ml-3 mr-3 mt-5 mx-auto my-auto col-6  my-10 mt-7">
          
            <img class="card-img-top" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
            <div class="card-body">
                <div class="row">
              <p class="card-text"><b>Current training</b></p>
              <br>
              <br>
            </div>
            <div class="row ml-auto">
              
                    <button type="button" [routerLink]="['/mentorInprogress']" class="btn btn-secondary btn-lg btn-block text-light" >Click Here</button>
            </div>
            </div>
          </div>
        </div>
        <div class="col-6  my-10">
          <div class="card-deck ml-3 mr-3 mt-5 mx-auto my-auto col-6 mt-7  my-10">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1502465771179-51f3535da42c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                  <p class="card-text"><b>Completed Training</b></p>
                  <br>
              <br>
                </div>
                <div class="row ml-auto">
                    
                        <button type="button" [routerLink]="['/mentortrainingCompleted']" class="btn btn-secondary btn-lg btn-block text-light" >Click Here</button>
                </div>
                </div>
              </div>
            </div>
            </div>
              </div>
            </div>
    